.row
  .col-lg-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Add New Designation
      .panel-body
        =form_tag("/admin/add_designation", :class => "form-inline") do
          .form-group
            =text_field_tag :name, "", :placeholder => "Designation Name", :required => true, :class => "form-control"
          =submit_tag "Add Designation", :class => "btn btn-primary"
.row
  .col-lg-9
    %h3 List of Designations
    %table.table.table-bordered.table-hover
      %tr
        %th Name
        %th Total Customers
        %th Action
      -@designations.each do |designation|
        %tr
          %td= designation.name
          %td= designation.customers.count
          %td= link_to "Edit", {:action => "edit_designation", :id => designation.id}, :class => "btn btn-info btn-sm"
