.row
  .col-lg-4
    %h2 Summary
    %table.table.table-bordered.table-hover
      %tr
        %th Total Customers
        %td= @customer
      %tr
        %th Total Cities
        %td= @city
      %tr
        %th Total Designations
        %td= @designation